:root {
  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #04d361;
  --form-color: #a8a8a8;
  --bg-button-color: #8257e5;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1px;
}
body {
  display: flex;
  width: 1140px;
  height: 780px;
  overflow: hidden;
}
main {
  position: absolute;
  width: 720px;
  height: 780px;
  left: 0px;
  top: 0px;
  background: var(--body-bg-color);
}
.logo {
  position: absolute;
  width: 389px;
  height: 94px;
  left: 30px;
  top: 50px;
}
h1 {
  color: var(--title-color);
  position: absolute;
  width: 566px;
  height: 30.44px;
  left: 36px;
  top: 236px;

  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
h3 {
  position: absolute;
  width: 517px;
  height: 16px;
  left: 36px;
  top: 275px;

  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
}
p {
  position: absolute;
  width: 647px;
  height: 38px;
  left: 36px;
  top: 300px;
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-color);
}
form {
  position: absolute;
  width: 798px;
  height: 84px;
  left: 36px;
  top: 388px;
}
label {
  width: 133px;
  height: 19px;
  left: 36px;
  top: 388px;
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 138.73%;
  color: var(--form-color);
}
input {
  width: 750px;
  height: 48px;
  left: 36px;
  top: 426px;
  border: none;
  padding-left: 5px;
  border-left: 5px solid red;
  filter: drop-shadow(4px 10px 15px rgba(0, 0, 0, 0.5));
}
div {
  border-radius: 5px;
  display: flex;
  outline: var(--bg-button-color) solid 2px;
}

button {
  width: 48px;
  height: 48px;
  border: none;
  background-color: var(--bg-button-color);
}
article {
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
  margin-top: 30px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 138.73%;
  color: var(--bg-button-color);
}
aside {
  position: absolute;
  width: 720px;
  height: 780px;
  left: 220px;
}
.imgNews {
  position: absolute;
  width: 1175px;
  height: 784px;
  z-index: -2;
  top: -3px;
}
